.registration-form {
  background-color: white;
  display: flex;
  justify-content: center;
}
.Heading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 225, 109);
  color: white;
}

.left-side {
  padding: 20px;
  width: 50%;
  border-right: 1px solid #ccc;
  border-right: 2px solid rgb(25, 225, 109) ;
}

.right-side {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-desc-inline{
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 5px;
}

.button-wrapper {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

.enroll-button {
  background-color: blue;
  color: white;
}

.clear-button {
  background-color: red;
  color: white;
}

.student-card {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  border:2px solid green;
  padding: 6px;
}

.student-card h3 {
  margin-top: 0;
}

.student-card p {
  margin: 5px 0;
}

.student-card img {
  max-width: 200px;
  height: auto;
}

.partition-line {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
.skills {
  display: flex;
}

.skills input[type='checkbox'] {
  margin-right: 5px;
}

.gen{
  display: flex;
}
.inline{
  display: flex;
}

.image-container{
  border:2px solid green;
}